/* Global Styles */
@font-face {
    font-family: 'Lazy-Dog';
    src: url('fonts/lazy_dog.ttf') format('truetype');
}

@font-face {
    font-family: 'RockBilly';
    src: url('fonts/rockbilly.ttf') format('truetype');
}

@font-face {
    font-family: 'BackStreet';
    src: url('fonts/backstreet.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar at Top */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff00; /* Background color for the navbar */
    position: fixed; /* Fix it to the top */
    top: 0;
    width: 100%; 
    z-index: 1000; /* Stays above other content */
    font-family: 'Lazy-Dog', sans-serif;
}

.nav-left {
    padding: 20px;
    padding-left: 20px;
}

.nav-left h1 {
    color: #fff;
    font-size: calc(18px + 1vw);
}

.nav-middle a {
    color: #fff;
    font-size: calc(5px + 1vw);
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.nav-middle a:hover {
    text-decoration: underline;
}

.nav-right {
    padding: 20px;
    padding-right: 40px;
}

.nav-right img {
    max-width: 30px;
    height: auto;
    margin-left: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Section */
header {
    position: relative;
    height: 100vh;
    background: url('resources/forestry_mist.jpg') center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'BackStreet', sans-serif;
}

header .content {
    z-index: 2;
}

header .content h1 {
    font-size: calc(35px + 3vw);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
}

header .content p {
    font-size: calc(16px + 1vw);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}

/* Intro Section */
.intro h2 {
    font-size: 40px;
    font-family: 'RockBilly', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(5, 5, 5);
}
