@font-face {
    font-family: 'Lazy-Dog';
    src: url('fonts/lazy_dog.ttf') format('truetype')
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.nav-left h1 {
    color: #000;
    font-size: 30px;
    margin-left: 60px;
    font-family: 'Lazy-Dog', sans-serif;
}

.nav-middle a {
    color: #000;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; 
}

.nav-right img {
    width: 30px; 
    height: auto;
}

.nav-right {
    margin-right: 60px;
}

.intro h1 {
    color: #000;
    font-size: 54px;
    margin: 0;
    margin-bottom: 15px;
}

.intro h2 {
    color: #ffaf64;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.intro h3 {
    color: #000;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.intro {
    margin-top: -80px;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.intro-text {
    width: 100%;
}

.intro-baseline {
    width: 100%;
}

.ufo-picture {
    width: 400px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 40px;
}

.tree-line {
    width: 100%;
    display: block;
    margin-top: -55px;
}

.hire-button {
    background-color: #ffaf64;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.hire-button:hover {
    background-color: #EFD4B7;
}
