@font-face {
    font-family: 'Lazy-Dog';
    src: url('fonts/lazy_dog.ttf') format('truetype')
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
    margin: auto;
}

.nav-left h1 {
    color: #000;
    font-size: calc(18px + 1vw);
    margin-right: auto;
    font-family: 'Lazy-Dog', sans-serif;
}

.nav-middle {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-middle a {
    color: #000;
    font-size: calc(5px + 1vw);
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}


.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-left: auto; 
}

.nav-right img {
    width: 100%; 
    max-width: 30px;
    height: auto;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.intro-text {
    width: 100%;
}

.intro-baseline {
    width: 100%;
}

.intro h1 {
    color: #000;
    font-size: calc(5px + 3vw);
    margin: auto;
    margin-bottom: 3%;
}

.intro h2 {
    color: #ffaf64;
    font-size: calc(10px + 1vw);
    margin: auto;
    margin-bottom: 3%;
}

.intro h3 {
    color: #000;
    font-size: 1vw;
    margin: auto;
    margin-bottom: 3%;
}

.ufo-picture {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

.tree-line {
    width: 100%;
}

.hire-button {
    background-color: #ffaf64;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hire-button:hover {
    background-color: #EFD4B7;
}
